[submodule "env/.config/nvim"]
	path = env/.config/nvim
	url = https://github.com/caldeira04/init.lua.git

[submodule "tmux-sessionizer"]
  path = tmux-sessionizer
  url = https://github.com/caldeira04/tmux-sessionizer.git


