# Monitors configuration
exec --no-startup-id xrandr --output DP-0 --mode 1920x1080 --rate 144
exec --no-startup-id mons --primary DP-0
exec --no-startup-id mons -e right
exec --no-startup-id setxkbmap -model pc104 -layout us -variant intl
